$marginGap: 0.5rem;

* {
  font-family: Arial;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  color: black;
  line-height: $marginGap * 3;
  padding: 3rem;
  font-size: normal;
}

a {
  text-decoration: underline;
}

hr {
  margin: ($marginGap * 4) 0;
  border: 1px solid white;
}

ul li {
  margin-left: 3rem;
}

h2,
h3,
h4,
h5 {
  margin: ($marginGap * 2) 0;
  text-decoration: underline;
}
