.title {
    grid-area: tl;
    display: flex;
    align-items: center;
}

.subtitle {
    font-weight: 700;
    font-size: 24px;
}

.outlinks {
	grid-area: ol;
}

.content {
	grid-area: ct;
}

.jobs {
	grid-area: js;
}

.app {
    display: grid;
    grid-gap: 1rem;
	grid-template-columns: repeat(2, 50%);
	grid-template-areas: 
		"tl ol"
		"ct js";
}

@media only screen and (max-width: 600px) {
    .app {
       display: inline-block;
    }
}