* {
	font-family: "IBM Plex Serif", serif;
	padding: 0;
	margin: 0;
	line-height: 2rem;
	font-size: 1rem;
}

body {
	background-color: #ccc;
	color: black;
	padding: 2rem;
}

#root {
	padding: 2rem;
	background-color: white;
}

a {
	color: currentColor;
	text-decoration: none;
	font-weight: bolder;
	border-bottom: 1px solid currentColor;

	&:hover {
		border-bottom: 2px solid currentColor;
	}
}

strong {
	font-weight: bolder;
	font-size: larger;
}

h1 {
  font-size: 3rem;
	text-shadow: 5px 2px 0px #e2e2e2;
}

h2 {
	font-weight: bolder;
}

h3 {
	font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 1rem;
  }

  #root {
		padding: .5rem;
	}
}